<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <system.webServer>
      <tracing xdt:Transform="InsertIfMissing">
        <traceFailedRequests xdt:Transform="InsertIfMissing">
          <add path="*" xdt:Transform="InsertIfMissing">
            <traceAreas xdt:Transform="InsertIfMissing">
              <add provider="ASP" verbosity="Verbose" xdt:Transform="InsertIfMissing" />
              <add provider="ASPNET" areas="Infrastructure,Module,Page,AppServices" verbosity="Verbose" xdt:Transform="InsertIfMissing" />
              <add provider="ISAPI Extension" verbosity="Verbose" xdt:Transform="InsertIfMissing" />
              <add provider="WWW Server" areas="Authentication,Security,Filter,StaticFile,CGI,Compression,Cache,RequestNotifications,Module,FastCGI,WebSocket,Rewrite" verbosity="Verbose" xdt:Transform="InsertIfMissing" />
            </traceAreas>
            <failureDefinitions timeTaken="00:00:00" statusCodes="404.3-404.504,401.2-401.504,402-403.504,405-599" verbosity="Error" />
          </add>
        </traceFailedRequests>
      </tracing>
      <httpErrors defaultPath="/error" defaultResponseMode="ExecuteURL" xdt:Transform="InsertIfMissing">
        <error statusCode="404" path="/error/notfound" responseMode="ExecuteURL" xdt:Transform="InsertIfMissing" />
        <error statusCode="401" path="/error/unauthorized" responseMode="ExecuteURL" xdt:Transform="InsertIfMissing" />
        <error statusCode="500" path="/error" responseMode="ExecuteURL" xdt:Transform="InsertIfMissing" />
        <error statusCode="500" subStatusCode="52" path="/error/notfound" responseMode="ExecuteURL" xdt:Transform="InsertIfMissing" />
        <error statusCode="403" path="/error/forbidden" responseMode="ExecuteURL" xdt:Transform="InsertIfMissing" />
        <error statusCode="401" subStatusCode="2" path="/error/unauthorized" responseMode="ExecuteURL" xdt:Transform="InsertIfMissing" />
        <error statusCode="404" subStatusCode="8" path="/error/notfound" responseMode="ExecuteURL" xdt:Transform="InsertIfMissing" />
        <error statusCode="429" path="/error/aggressive" responseMode="ExecuteURL" xdt:Transform="InsertIfMissing" />
      </httpErrors>
  </system.webServer>
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>