
<h2 class="page-header">Privacy Policy</h2>
<br />
The only personal information we collect is your IP address, your email address.
<br /><br />
We will contact you to notify you of events related to your user account.
<br /><br />
We will never sell your personal information to any 3rd parties.

  