
<h2 class="page-header">Terms of Service</h2><br />
When creating listings you must abide by all local laws in your jurisdiction. Prohibited items include sex, weapons and drugs. 
<br /><br />
You may only upload pictures for which you are the copyright owner. You agree that all uploaded images may be published publicly.
<br /><br />
More coming soon.