
<div class="row">
    <div class="span9">
        <h1 class="page-header">Page Expired</h1>
        <p class="lead">We could not complete your request because the page has expired. Please go back and refresh the page.</p>
        <a href="@Url.Action("index", "home")" class="btn btn-large btn-primary">Home</a>
    </div>
</div>