@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="span9">
        <h1 class="page-header">Forbidden</h1>

            <p class="lead">You are not allowed to do that. Sorry.</p>
        <a href="@Url.Action("index", "home")" class="btn btn-large btn-primary">Home</a>
    </div>
</div>

@section Scripts {
    <script>history.pushState({}, null, window.location.href.replace(/[?].*/, ""))</script>
}