
<div class="row">
    <div class="span9">
        <h1 class="page-header">Not Allowed</h1>
        <p class="lead">You can't do that here.</p>
        <a href="@Url.Action("index", "home")" class="btn btn-large btn-primary">Home</a>
    </div>
</div>
@section Scripts {
    <script>history.pushState({}, null, window.location.href.replace(/[?].*/, ""))</script>
}